*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:lightgrey;
	color:red;
}
h1{
	text-align:center;
}
ul.o{
	list-style-type:none;
	margin:0 45%;
	display:inline-block;
}
ul.o li{
	margin:10px;
}
li.map{
	margin:10px;
}
p.config{
	margin:10px;
	padding:10px;
}
